@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(90deg, #9cdd6e, #467f1d);
}

.btn-dark {
  background: #467f1d;
}

.border-circum{
  border-radius: 25px;
}

.footer{
  background-color: rgba(0, 0, 0, 0.9);
}

.footer i:hover{
  color: #b3b3b3;
  cursor: pointer;
}

.copyright{
  background-color: rgba(0, 0, 0, 0.2);
}

.copyright a{
  text-decoration: none;
  cursor: pointer;
}