/*
467f1d

*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,300&display=swap');

:root {
  --main-bg-color: #009d63;
  --main-text-color: #009d63;
  --second-text-color: #bbbec5;
  --second-bg-color:  #c1efde;
  --footer-bg-color: #f1f1f1;
  
/* Mudar as colors*/
}


body{
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(90deg, #9cdd6e, #467f1d);
}

.btn-dark {
  background: #467f1d;
}

.border-circum{
  border-radius: 25px;
}

footer{
  background-color: var(--footer-bg-color);
}

.copyright{
  background-color: rgba(0, 0, 0, 0.2);
}
